@model TravelTripProject.Models.Siniflar.Restoranlar
@{
    ViewBag.Title = "RestoranDetaylar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>RestoranDetaylar</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <td>@Model.ID</td>
    </tr>
    <tr>
        <th>BAŞLIK</th>
        <td>@Model.Baslik</td>
    </tr>
    <tr>
        <th>AÇIKLAMA</th>
        <td>@Model.Aciklama</td>
    </tr>
    <tr>
        <th>IMAGE</th>
        <td>@Model.Image</td>
    </tr>
</table>